<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<title>Customer Transaction</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
	<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
	<script src="scripts.js"></script>
</head>

<body>
    <h1>Add New Articles</h1>
    
    <form id="form" action="" method="post">
            magazine: <input type="text" id="magazine" name="magazine"><br>
            volumeNumber: <input type="text" id="volumenumber" name="volumeNumber"><br>
            title: <input type="text" id="title" name="title"><br>
            pages: <input type="text" id="pages" name="pages"><br>
            authors: <input type="text" id="authors" name="authors"><br>
            <input id="submit" type="button" name="submit" value="submit">
            </form>
	

  
</body>
</html>